.articleHeader {
  display: flex;
  margin-bottom: 3vh;
  padding: 3vh 3vw;
  border-bottom: 1px solid #aae;
}

.thumbnail {
  margin-right: 3vh;
}

.thumbnail img {
  width: 23vw;
}

.headerText {
  flex: 1;
}

.headerText h2 {
  font-size: 2em;
  margin: 1vh 0;
}

.headerText h2 {
  color: #339;
}

.articleContent {
  background: white;
  padding: 1vh 1vw;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .articleHeader {
    display: block;
    text-align: center;
  }

  .thumbnail img {
    width: max(50vw, 100px);
  }
}
